.admin_sidebar {
  background: #293845;
  color: #ffffffe3;
}

.admin_sidebar ul li a:hover,
.admin_sidebar ul li button:hover {
  background: #445360;
  color: #fff !important;
}

.admin_sidebar .active {
  background: #445360;
  color: #fff !important;
}
